<h1>New product</h1>

<% if @product.errors.any? %>
  <ul>
  <% @product.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for @product do |f|%>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description%>
    <%= f.text_field :description %>
  </div>
   <div>
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>
  <div class="tags-wrapper">
    <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name do |b|%>
      <div class="tag-wrapper">
        <%= b.check_box %>
        <%= b.text.humanize %>
       </div>
    <% end%>
  </div>
  <%= f.submit %>
<% end %>