<div class="product-container p-3">
  <h2 class="h2"><%= @product.title + " : " + @product.price.to_s %></h1>
  <p><%= @product.description %></p>
  <% if can?(:crud, @product) %>
    <%= link_to "Delete", product_path(@product), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-primary" %>
    <%= link_to "Edit", edit_product_path(@product), method: :get, class: "btn btn-danger" %>
  <% end %>
  <% fav = @product.favourites.find_by(user: current_user) %>
  <% if fav.present? %>
    <%= link_to "Remove from favourites", product_favourite_path(@product, fav), method: :delete, class: "btn btn-danger"%>
  <% else %>
    <%= link_to "Add to favourites", product_favourites_path(@product), method: :post, class: "btn btn-primary"%>
  <% end %>
</div>

<div class="form-container p-3">
  <%= form_with(model: [@product, @review], local:true) do |f| %>
  <% if @product.errors.any? %>
  <ul>
    <% @product.errors.full_messages.each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ul>
  <% end %>

  <div class="form-group">
    <h2>Add Review</h2>
    <%= f.text_area(
        :body,
        cols: 50,
        rows: 5,
        placeholder: 'Tell us about the product',
        class: "form-control"
      )%>
    <%= f.label :rating%>
    <%= f.text_field :rating, class: "form-control"%>
  </div>
  <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>

<% if !@reviews.nil? %>
  <div class="reviews">
    <h1>Reviews</h1>
    <% @reviews.each do |review| %>
      <% if !review.hidden %>
        <div class ="review" style="border: 2px solid black; margin-top: 10px; padding: 10px">
          <p>Rating - <%= review.rating%></p>
          <p><%= review.body %></p>
          <% if can?(:crud, review) %>
            <%= link_to("Delete", product_review_path(@product, review), method: :delete, data: {confirm: "Are you sure ?"})%>
          <% end %>

          <% if can?(:crud, @product)%>
            <%= link_to("Hide", product_review_path(@product, review) + "/toggle", method: :patch)%>
          <% end %>

          <% like = review.likes.find_by(user: current_user) %>
          <% if like.present? %>
            <%= link_to "Unlike", product_review_like_path(@product, review, like), method: :delete%>
          <% else %>
            <%= link_to "Like", product_review_likes_path(@product, review), method: :post%>
          <% end %>
          <p> Likes: <%= review.likes.count%> </p>
          <p> Posted by <%= review.user.first_name %> </p>
          
        </div>
      <% else %>
        <div class ="review" style="border: 2px solid black; margin-top: 10px; padding: 10px; background-color: grey">
          <p>Rating - <%= review.rating %></p>
          <p><%= review.body %></p>
          <% if can?(:crud, review) %>
            <%= link_to("Delete", product_review_path(@product, review), method: :delete, data: {confirm: "Are you sure ?"})%>
          <% end %>

          <% if can?(:crud, @product)%>
            <%= link_to("Unhide", product_review_path(@product, review) + "/toggle", method: :patch)%>
          <% end %>

          <% like = review.likes.find_by(user: current_user) %>
          <% if like.present? %>
            <%= link_to "Unlike", product_review_like_path(@product, review, like), method: :delete%>
          <% else %>
            <%= link_to "Like", product_review_likes_path(@product, review), method: :post%>
          <% end %>
          <p> Likes: <%= review.likes.count%> </p>
          <p> Posted by <%= review.user.first_name %> </p>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>