<!DOCTYPE html>
<html>
  <head>
    <title>Amazon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/contact">Contact Us</a>
      <%= link_to "Products", products_path %>
      <%= link_to "New Product", new_product_path %>
      <% if user_signed_in? %>
        <h1> Hello <%= current_user.first_name %></h1>
        <%= link_to "Sign Out", sessions_path, method: :delete, data: {confirm: "Are you sure you want to sign out ?"} %>
      <% else %>
        <%= link_to "Sign In", new_sessions_path %>
        <%= link_to "Sign Up", new_user_path %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
